<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vi8e.um.wunderlist" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".provider.MasterProvider"
            android:authorities="com.vi8e.um.wunderlist.provider"
            android:exported="false" />

        <activity
            android:name=".Activity.LandingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6c846b8f2f0f417e9740c3bd4f28baa0b8930624" />

        <activity
            android:name=".Activity.TaskActivity"
            android:label="@string/title_activity_list"
            android:windowSoftInputMode="adjustNothing|stateVisible" >
        </activity>
        <activity android:name=".Activity.DeveloperActivity" >
        </activity>
        <activity
            android:name=".Activity.TaskDetailActivity"
            android:label="@string/title_activity_task_detail" >
        </activity>
        <activity
                android:name=".Activity.ViewListDBActivity">
        </activity>
        <activity
            android:name=".Activity.ViewTaskDBActivity"
            android:label="@string/title_activity_view_db" >
        </activity>
        <activity
            android:name=".Activity.ListDetailActivity"
            android:label="@string/title_activity_list_detail" >
        </activity>
    </application>

</manifest>
