<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vi8e.um.wunderlist" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".provider.MasterProvider"
            android:authorities="com.vi8e.um.wunderlist.provider"
            android:exported="false" />

        <activity
            android:name=".Activity.LandingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6c846b8f2f0f417e9740c3bd4f28baa0b8930624" />

        <activity
            android:name=".Activity.TaskActivity"
            android:label="@string/title_activity_list"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateVisible" >
        </activity>
        <activity
            android:name=".Activity.DeveloperActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.TaskDetailActivity"
            android:label="@string/title_activity_task_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".Activity.ViewListDBActivity" >
        </activity>
        <activity
            android:name=".Activity.ViewTaskDBActivity"
            android:label="@string/title_activity_view_db" >
        </activity>
        <activity
            android:name=".Activity.ListDetailActivity"
            android:label="@string/title_activity_list_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateVisible" >
        </activity>
        <activity
            android:name=".Activity.TaskNoteActivity"
            android:label="@string/title_activity_task_note"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateVisible" >
    </activity>
        <activity android:name=".Activity.LoginActivity"
                  android:screenOrientation="portrait"
                />
        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" android:screenOrientation="portrait" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" android:screenOrientation="portrait" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" android:screenOrientation="portrait" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" android:screenOrientation="portrait" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" android:screenOrientation="portrait" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" android:screenOrientation="portrait" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" android:screenOrientation="portrait" />
        <activity
                android:name="io.card.payment.CardIOActivity"
                android:configChanges="keyboardHidden|orientation"
                android:screenOrientation="portrait" />
        <activity android:name="io.card.payment.DataEntryActivity" android:screenOrientation="portrait" />
    </application>

</manifest>
